$nucleus-spacing-0: 0 !default;
$nucleus-spacing-0-5: 0.125rem !default;
$nucleus-spacing-1: 0.25rem !default;
$nucleus-spacing-1-5: 0.375rem !default;
$nucleus-spacing-2: 0.5rem !default;
$nucleus-spacing-2-5: 0.625rem !default;
$nucleus-spacing-3: 0.75rem !default;
$nucleus-spacing-3-5: 0.875rem !default;
$nucleus-spacing-4: 1rem !default;
$nucleus-spacing-5: 1.25rem !default;
$nucleus-spacing-6: 1.5rem !default;
$nucleus-spacing-8: 2rem !default;
$nucleus-spacing-10: 2.5rem !default;
$nucleus-spacing-12: 3rem !default;
$nucleus-spacing-16: 4rem !default;
