$nucleus-transition-duration-fast: 150ms !default;
$nucleus-transition-duration-base: 200ms !default;
$nucleus-transition-duration-slow: 300ms !default;

$nucleus-transition-easing-default: ease-in-out !default;
$nucleus-transition-easing-out: ease-out !default;
