$nucleus-font-family-sans: 'Comic Neue', sans-serif !default;

$nucleus-font-size-xs: 0.75rem !default;
$nucleus-font-size-sm: 0.875rem !default;
$nucleus-font-size-base: 1rem !default;
$nucleus-font-size-lg: 1.125rem !default;
$nucleus-font-size-xl: 1.25rem !default;

$nucleus-line-height-tight: 1.25 !default;
$nucleus-line-height-normal: 1.5 !default;
$nucleus-line-height-relaxed: 1.75 !default;

$nucleus-font-weight-normal: 400 !default;
$nucleus-font-weight-medium: 500 !default;
$nucleus-font-weight-semibold: 600 !default;
$nucleus-font-weight-bold: 700 !default;
